div.home {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  height: 100%;
  background-image: url("../../public/UCIScene.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

div.flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 30px 26px;
}

.petr-img {
  height: 300px;
}

.credits {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 14px;
}
